.loader { background: rgba(174, 218, 255, .9); width: 100%; position: fixed; top: 0; bottom: 0; left: 0; z-index: 25; visibility: hidden; opacity: 0;
	-webkit-transition: visibility 1s linear, opacity 1s linear;
	     -o-transition: visibility 1s linear, opacity 1s linear;
	        transition: visibility 1s linear, opacity 1s linear;
}
.loader.shown { visibility: visible; opacity: 1; 
	-webkit-transition: visibility .2s linear, opacity .2s linear;
	     -o-transition: visibility .2s linear, opacity .2s linear;
	        transition: visibility .2s linear, opacity .2s linear;
}

.loader .loader__icon { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.loader .loader__icon svg,
.loader .loader__icon img {
	-webkit-animation: spin 5s linear infinite; 
	     -o-animation: spin 5s linear infinite; 
	        animation: spin 5s linear infinite; 
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg); 
		    -ms-transform: rotate(0deg); 
		     -o-transform: rotate(0deg); 
		        transform: rotate(0deg); 
	}
	to {
		-webkit-transform: rotate(360deg); 
		    -ms-transform: rotate(360deg); 
		     -o-transform: rotate(360deg); 
		        transform: rotate(360deg); 
	}
}
@-o-keyframes spin {
	from {
		-webkit-transform: rotate(0deg); 
		    -ms-transform: rotate(0deg); 
		     -o-transform: rotate(0deg); 
		        transform: rotate(0deg); 
	}
	to {
		-webkit-transform: rotate(360deg); 
		    -ms-transform: rotate(360deg); 
		     -o-transform: rotate(360deg); 
		        transform: rotate(360deg); 
	}
}
@-moz-keyframes spin {
	from {
		-webkit-transform: rotate(0deg); 
		    -ms-transform: rotate(0deg); 
		     -o-transform: rotate(0deg); 
		        transform: rotate(0deg); 
	}
	to {
		-webkit-transform: rotate(360deg); 
		    -ms-transform: rotate(360deg); 
		     -o-transform: rotate(360deg); 
		        transform: rotate(360deg); 
	}
}
@keyframes spin {
	from {
		-webkit-transform: rotate(0deg); 
		    -ms-transform: rotate(0deg); 
		     -o-transform: rotate(0deg); 
		        transform: rotate(0deg); 
	}
	to {
		-webkit-transform: rotate(360deg); 
		    -ms-transform: rotate(360deg); 
		     -o-transform: rotate(360deg); 
		        transform: rotate(360deg); 
	}
}
