.section-weather { height: 100vh; padding: 94px 30px; position: relative; z-index: 5; }

.section-weather .section__image { position: absolute; bottom: 0; left: 0; z-index: -1; pointer-events: none; }
.section-weather .section__actions { display: flex; flex-wrap: wrap; margin: -5px; }
.section-weather .section__actions .section__actions-button { width: 50%; padding: 5px; }
.section-weather .section__actions .section__actions-button button { width: 100%; }
