.weather-widget { margin-bottom: 7px; }

.weather-widget .weather-widget__temperature { font-weight: 700; font-size: 96px; line-height: 1; 
	display: -webkit-flex; 
	display: -moz-flex; 
	display: -ms-flex; 
	display: -o-flex; 
	display: flex; 
}

.weather-widget .weather-widget__temperature * { vertical-align: top; }
.weather-widget .weather-widget__temperature small { font-size: 48px; top: 3px; }

.weather-widget .weather-widget__temperature small,
.weather-widget .weather-widget__details { position: relative; }

.weather-widget .weather-widget__title { font-size: 25px; }
.weather-widget .weather-widget__details .weather-widget__icon { position: absolute; left: 4px; top: 53px; }
