.search { 
	display: -webkit-flex; 
	display: -moz-flex; 
	display: -ms-flex; 
	display: -o-flex; 
	display: flex; 
	-ms-align-items: center; 
	    align-items: center; 
}

.search .search__fields { flex: 0 0 auto; position: relative; z-index: 5; }
.search .search__fields .search__options { width: 100%; position: absolute; top: 100%; left: 0; visibility: hidden; opacity: 0; 
	-webkit-transform: translateY(5px); 
	    -ms-transform: translateY(5px); 
	     -o-transform: translateY(5px); 
	        transform: translateY(5px); 
	-webkit-transition: visibility .3s, opacity .3s; 
	     -o-transition: visibility .3s, opacity .3s; 
	        transition: visibility .3s, opacity .3s; 
}
.search .search__fields .search__field:focus + .search__options { visibility: visible; opacity: 1; }

.search .search__field { font-weight: 700; font-size: 18px; text-transform: uppercase; white-space: nowrap; color: inherit; background: transparent; border: 0; border-radius: 0; width: 170px; overflow: hidden; 
	-ms-text-overflow: ellipsis; 
	    text-overflow: ellipsis; 
	-webkit-appearance: none; 
	   -moz-appearance: none; 
	        appearance: none; 
}

.search .search__options { font-size: 18px; color: #000; background: #fff; max-height: 200px; overflow-x: hidden; overflow-y: auto; }
.search .search__options p { padding: 5px 10px; cursor: pointer; }
.search .search__options p.selected { background: #aaa; }

.search .btn-icon { padding: 3px; }
