* { outline: 0; padding: 0; margin: 0; 
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box; 
}

body { font: 400 14px/1.3 'Roboto', sans-serif; color: #fff; background: #eea594; 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-webkit-input-placeholder { color: inherit; opacity: 1; }
::-moz-placeholder { color: inherit; opacity: 1; }
:-ms-input-placeholder { color: inherit; opacity: 1; }
:-moz-placeholder { color: inherit; opacity: 1; }

a { text-decoration: none; }

img { border: 0; height: auto; }

input {
	-webkit-appearance: none; 
	   -moz-appearance: none; 
	        appearance: none; 
}

h1 { font-size: 35px; }
h2 { font-size: 30px; }
h3 { font-size: 25px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; }
h6 { font-size: 14px; }
