.btn-icon { font-size: 12px; color: inherit; background: transparent; border: 1px solid #fff; border-radius: 2px; padding: 3px 6px 4px; cursor: pointer; 
	-webkit-appearance: none; 
	   -moz-appearance: none; 
	        appearance: none; 
}

.btn-icon span + svg { margin-left: 5px; }
